.icon-application-form-edit { background:url('icons/application_form_edit.png') no-repeat center center;}

.icon-application-cascade { background:url('icons/application_cascade.png') no-repeat center center;}

.icon-creditcards { background:url('icons/creditcards.png') no-repeat center center;}

.icon-cart { background:url('icons/cart.png') no-repeat center center;}

.icon-bricks { background:url('icons/bricks.png') no-repeat center center;}

.icon-chart-curve { background:url('icons/chart_curve.png') no-repeat center center;}

.icon-wrench { background:url('icons/wrench.png') no-repeat center center;}

.icon-reload{ background:url('icons/reload.png') no-repeat center center;}

.icon-tip{ background:url('icons/tip.png') no-repeat center center;}

.icon-onsal{ background:url('icons/onsal.png') no-repeat center center;}

.icon-notonsal{ background:url('icons/notonsal.png') no-repeat center center;}

.icon-add2{ background:url('icons/add.png') no-repeat center center;}

.icon-edit2{ background:url('icons/table_edit.png') no-repeat center center;}

.icon-cancel2{ background:url('icons/cancel.png') no-repeat center center;}

.icon-preview{ background:url('icons/preview.png') no-repeat center center;}

.icon-alliance{ background:url('icons/alliance.png') no-repeat center center;}

.redpack{ background:url('icons/redpack.png') no-repeat center center;}

.icon-user-edit{ background:url('icons/user_edit.png') no-repeat center center;}

.icon-discount{ background:url('icons/discount.png') no-repeat center center;}

.icon-personal{ background:url('icons/personal.png') no-repeat center center;}

.icon-submit{ background:url('icons/submit.png') no-repeat center center;}


